<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sube tus imágenes</title>
</head>
<body>
    <h2>Sube imágenes sueltas o un archivo ZIP</h2>
        <form method="POST" enctype="multipart/form-data" action="/upload">
          <label>Subir imágenes sueltas:</label>
          <input type="file" name="images" accept=".jpg,.jpeg,.png" multiple>
        
          <p>O subir un .zip:</p>
          <input type="file" name="zipfile" accept=".zip">
        
          <button type="submit">Procesar</button>
        </form>
</body>
</html>
